.hour {
  font-size: 0.75em;
  margin-top: -0.3em;
  padding: 0.3em;
  background-color: $secondary;
  color: $white;
  @extend .rounded;
  margin-right: 0.2em;
}
.conferences {
  max-width: 60em;
}

.conferences-wrapper {
  overflow-x: scroll;
}

.conferences-table {
  .date-row th, .room-name-row td {
    border-width: 0;
    min-width: 20em;
    max-width: 30em;
  }

  .date-row th {
    padding-bottom: 0;
  }
}
