.nav-wrapper {
  box-shadow: $popover-box-shadow;
}

nav {
  font-family: 'Montserrat';
  transition: background-color 0.2s, color 0.2s;
  div.navbar-collapse ul, div.navbar-toggler ul{
    margin-left: auto;
    margin-right: 0;
  }
}

nav.admin-bar-showing.fixed-top {
  margin-top: 32px;
}

.lg-brand{
  padding-bottom: 10px;
  display: none;
  border-bottom: 1px $light solid;
}
#nav {
  justify-content: space-between; 
}
@include media-breakpoint-up(md) { 
  .lg-brand{
    display: block;
  }
  .md-brand {
    display: none;
  }
  #nav {
    justify-content: center;
  }
}
